{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CORE CSS -->
    <link href='{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" type="text/css"/>

    <!-- THEME CSS -->
    <link href='{% static "assets/css/essentials.css" %}' rel="stylesheet" type="text/css"/>
    <link href='{% static "assets/css/layout.css" %}' rel="stylesheet" type="text/css"/>

    <!-- PAGE LEVEL SCRIPTS -->
    <link href='{% static "assets/css/header-1.css" %}' rel="stylesheet" type="text/css"/>
    <link href='{% static "assets/css/color_scheme/green.css" %}' rel="stylesheet" type="text/css" id="color_scheme"/>
    <title> CSGO Double </title>
</head>
<body class="grain-grey">
    <div id="page-menu" class="page-menu-dark">
        <div class="container">
            <nav class="float-left fs-24">CS:GO Double</nav>
            <nav class="float-right"><!-- page menu -->
    
                <button id="page-menu-mobile" class="fa fa-bars"></button>
                <!--
                    .menu-scrollTo - for scrollto page menu / no external links
                -->
                <ul class="list-inline">
                    <li {% block active1 %} {% endblock %}><a href="/start_docker">Welcome, guest!</a></li>
                    <li {% block active2 %} {% endblock %}><a href="/add_rule">Balance: 100</a></li>
                    <li {% block active3 %} {% endblock %}><a href="/rules">Exit</a></li>

                </ul>
            </nav><!-- /page menu -->
    
        </div>
    
    </div>

    {{ bet_form }}
   {{ status }}
<!-- JAVASCRIPT FILES -->
<script>var plugin_path = 'static/assets/plugins/';</script>
<script src='{% static "assets/plugins/jquery/jquery-3.4.1.min.js" %}'></script>
<script src='{% static "assets/js/scripts.js" %}'></script>
<script src='{% static "assets/plugins/custom.fle_upload.js" %}'></script>
<!-- STYLESWITCHER - REMOVE -->
<script async src='{% static "demo_files/styleswitcher/styleswitcher.js" %}'></script>
</body>
</html>